.App {
  text-align: center;
}
.header{
  font-size: 15px;
  text-align: center;
  place-content: center;
  background-color: rgb(101, 12, 12);
  margin-top: 10px;
  color: white;
}
.inp1{
  border-color: gray;
  border-radius: 52px;}

  .btn{
    color: red;
    /* background-color: blue; */
    border-radius: 22px
  }
  .contacts{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    background: rgb(87, 61, 61);
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 5px;
  }
